<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
    </head>
    <body>
        <h1>Hello World !</h1>
        
        <p>
           <h3>Formulaire d'annonce</h3>

          <div class="well">
           {{ form(form) }}
          </div>
        </p>
    </body>
</html>
