{% extends '::bas.html.twig' %}
{% block body %}


<p  style="color:Blue;">  <span style="font-size:30px;">A propos : </span>
<p/>

 <br>
  <i  style="font-weight:bold;">
        <p>Bienvenue sur notre blog dedie a l'ajout et modification et suppression d'articles lies aux themes suivants : </p>

    </br>
   
     <p>- Sante</p>              
   
          <td>         <p>- Sport</p>  </td>

                  <p>- Philosophie</p>                   
                  <p>- Aeronautique</p>               
                   <p>- Automobiles</p>               
                  <p>- Informatique </p>              
                  <p>- Modelisme </p>              

</i>

{% endblock %}
 
